/* Default Color */
:root {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #266ef1;
  --accent-hover: #2c69d9;
  --success: #005c3b;
  --warning: #f6bc2f;
  --danger: #a8200d;
  --danger-hover: #950f22;
  --base-bg: #eceee9;
  --maroon: #750046;
  --green: #06c168;
  --cream: #f7f0ea;
  --pink: #fed7d2;
  --dark-green: #10462e;
}

/* Default Styles */
.btn {
  border: none;
  padding: 0.5rem 1.5rem !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

.btn.btn-primary {
  background-color: white;
  color: var(--maroon);
}

.btn.btn-secondary {
  background: none;
  color: white;
  border: 1px solid white;
}

.btn.btn-inverse {
  color: black;
  border: 1px solid black;
}

.btn.btn-black {
  background: black;
  color: white;
}

.container-padding {
  padding: 2% 10%;
}
.packages-tours-body {
  background-color: #eceee9;
}
/* Default Styles */

a.nav-link {
  color: white;
  text-decoration: none;
  font-size: 2.6rem;
}

.navbar {
  position: absolute !important;
  z-index: 100;
}

.hero-section {
  background-image: url("/assets/hero-bg.png");
  height: 90vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.about-section {
  background: var(--base-bg);
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 60%) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  height: 90vh;
  width: 100%;

  top: 0;
}

.travista-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.travista-sign-in h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.travista-sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.travista-sign-in label {
  display: block;
  margin-bottom: 10px;
}

.travista-sign-in input[type="email"],
.travista-sign-in input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--cream);
  border-radius: 5px;
}

.travista-sign-in button {
  width: 100%;
  padding: 10px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.travista-sign-in button:hover {
  background-color: var(--green);
}

.travista-sign-in p {
  margin-top: 20px;
  text-align: center;
}

.travista-sign-in p a {
  color: var(--green);
  text-decoration: none;
}

.travista-sign-in p a:hover {
  text-decoration: underline;
}

.explore-more-card {
  width: 500px;
  max-width: 600px;
  height: 1000px;
  background-size: cover;
  background-position: center;
  color: white !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  padding: 30px;
  border-radius: 20px !important;
  transition: all 0.4s !important;
}

.explore-more-card:nth-child(odd) {
  margin-top: 50px;
}

.explore-more-card:hover {
  width: 550px;
}

.build-package-section {
  height: auto;
  padding: 5% 8%;
}

.comments-section {
  height: 100vh;
  background: url("/assets/comments.png");
  text-align: center;
}

.comment-card {
  max-width: 350px;
}

.comments-section {
  overflow: hidden;
}

.comments-section .slider-container {
  margin: 0 -20%;
}

.comments-section .slider-btn {
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 50px 10px;
  border: none;
  transition: all 0.3s;
}

.comments-section .slider-btn:hover {
  cursor: pointer;
  color: var(--accent);
}

.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
}

.faq-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.faq-section :is(ul, li) {
  padding: 0;
}

.faq-list li {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.faq-list li svg {
  font-size: 2rem;
}

.faq-list hr {
  margin-top: 0;
}

.footer {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.footer .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.footer svg {
  font-size: 3rem;
  margin: 0 0.5rem;
}

.footer ul a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.packages-page .hero {
  background: url("/assets/packages-page/hero.png");
  height: 45vh;

  position: relative;
}

.packages-page .hero .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.packages-page .hero h2 {
  font-size: 5rem;
}

.packages-page .hero p {
  width: 50%;
  text-align: center;
}

.packages-page .packages-tours {
  padding: 3%;
}
/*  */
/* Navbar Styles */
.navbar {
  background-color: #064e3b;
  padding: 1rem;
}

.navbar h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Hero Section Styles */
.hero {
  background-color: #065f46;
  color: white;
  padding: 3rem 0;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  margin-top: 1rem;
  font-size: 1.125rem;
}

.hero button {
  margin-top: 1.5rem;
  background-color: #ec4899;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.hero img {
  border-radius: 0.5rem;
}

/* Core Values Styles */
.core-values {
  background-color: #f3f4f6;
  padding: 3rem 0;
  text-align: center;
}

.core-values h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.core-value-item {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.core-value-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.core-value-item p {
  margin-top: 1rem;
  color: #4b5563;
}

/* Perks Section Styles */
.perks {
  background-color: #f3f4f6;
  padding: 3rem 0;
}

.perks h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.perks .perk {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Open Roles Section Styles */
.open-roles {
  background-color: white;
  padding: 3rem 0;
}

.open-roles h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.role-item {
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.role-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.role-item p {
  color: #6b7280;
}

.role-item button {
  background-color: #fbbf24;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #111827;
  color: white;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

/* account style */
.account-page {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 100%;
  max-height: auto;
}

.account-header {
  text-align: left;
  padding: 2rem 1rem;
  padding-bottom: 20px;
  padding-top: 80px;
  padding-left: 120px;
}

.account-header h1 {
  font-size: 62px;
  margin-bottom: 0.5rem;
}

.account-header p {
  color: #666;
  font-size: 14px;
  margin-bottom: 2rem;
}

.account-tabs {
  padding-top: 20px;
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-bottom: -1.2rem;
}

.account-tabs button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #777777;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.account-tabs .active {
  border-bottom: 2px solid #000;
  font-weight: bold;
  color: #000000;
}

.account-content {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #f4f4f4;
  /* width: 100%; */
}

.saved-content {
  display: flex;
  gap: 2rem;
}
.saved-section-content {
  width: 100%;
  margin: auto;
  margin-left: 20px;
  padding-left: 80px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.content {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

/* FAQs Page */
.FAQs-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.FAQs-hero {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #e6e1f4;
}

.FAQs-hero h1 {
  font-size: 3rem; /* Use relative units */
  color: #27063b;
  padding-bottom: 1px;
  margin-bottom: auto;
}

.FAQs-hero p {
  color: #27063b;
  padding-top: 5px;
  margin-top: auto;
}

.FAQs-contact-btn {
  background-color: #27063b;
  color: #e6e1f4;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.FAQs-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  margin: 50px;
  margin-top: -30px;
}
.FAQs-filter-section {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  padding-left: 70px;
}
.FAQs-list {
  flex: 1;
  margin-right: 1rem;
}

.FAQs-filter {
  width: 90%;
  max-width: 250px;
  margin: 1rem auto;
  padding: 0.8rem;
  border-radius: 10px;
  border-color: #777777;
}

.FAQs-questions {
  border-top: 1px solid #ddd;
}

.FAQs-question {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.FAQs-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding-left: 1.5rem;
}

.FAQs-answer.open {
  max-height: 100px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.FAQs-form {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 120px;
}

.FAQs-form h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: auto;
  text-align: center;
}

.FAQs-form p,
a {
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.FAQs-form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

/* Tablet view */
@media (min-width: 768px) {
  .FAQs-hero h1 {
    font-size: 4rem;
  }

  .FAQs-content {
    flex-direction: column;
    justify-content: space-around;
  }
  .FAQs-filter {
    width: 100%;
    max-width: 250px;
    margin: 1rem auto;
    padding: 0.8rem;
    border-radius: 10px;
    border-color: #777777;
    align-items: center;
  }
  .FAQs-form {
    padding: 2rem 5%;
    flex-direction: column;
  }
}

/* Desktop view */
@media (min-width: 1024px) {
  .FAQs-hero h1 {
    font-size: 5rem;
  }

  .FAQs-filter {
    width: 12%;
    margin-left: 20px;
    margin-top: 20px;
  }

  .FAQs-content {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
  }

  .FAQs-form {
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: row;
  }

  .FAQs-form h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .FAQs-form p,
  a {
    text-align: left;
  }

  .FAQs-form-section {
    width: 50%;
  }
}
/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .FAQs-hero h1 {
    font-size: 2.5rem;
  }

  .FAQs-form {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .FAQs-form h2 {
    font-size: 2rem;
    text-align: center;
  }

  .FAQs-form p,
  .FAQs-form a {
    text-align: center;
    padding-bottom: 20px;
  }

  .FAQs-form-section {
    width: 100%;
    max-width: 100%;
  }
  .FAQs-filter {
    width: 30%;
    max-width: 250px;
    margin: 1rem auto;
    padding: 0.8rem;
    border-radius: 10px;
    border-color: #777777;
    align-items: center;
  }
}
/*Message Form*/

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-input {
  width: 100%;
  color: #000;
  padding: 0.75rem;
  border: 2px solid #d9d9d9;
  border-radius: 16px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea.form-input {
  resize: none;
  height: 150px;
}

.country-code {
  width: 20%;
}

.phone-input {
  width: 80%;
}

.terms-label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #cbcbcb;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #333;
}
