/* Default Color */
:root {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #266ef1;
  --accent-hover: #2c69d9;
  --success: #005c3b;
  --warning: #f6bc2f;
  --danger: #a8200d;
  --danger-hover: #950f22;
  --base-bg: #eceee9;
  --maroon: #750046;
  --green: #06c168;
  --cream: #f7f0ea;
}

/* Default Styles */
.btn {
  border: none;
  padding: 10px 15px !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

.btn.btn-primary {
  background-color: white;
  color: var(--maroon);
}

.btn.btn-secondary {
  background: none;
  color: white;
  border: 1px solid white;
}

.btn.btn-inverse {
  color: black;
  border: 1px solid black;
}

.container-padding {
  padding: 2% 10%;
}

/* Default Styles */

.nav-link {
  font-size: 2.6rem !important;
}

.navbar {
  position: absolute !important;
  z-index: 100;
}

.hero-section {
  background-image: url("/assets/hero-bg.png");
  height: 90vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  background: var(--base-bg);
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 60%) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  height: 90vh;
  width: 100%;

  top: 0;
}

.travista-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.travista-sign-in h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.travista-sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.travista-sign-in label {
  display: block;
  margin-bottom: 10px;
}

.travista-sign-in input[type="email"],
.travista-sign-in input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--cream);
  border-radius: 5px;
}

.travista-sign-in button {
  width: 100%;
  padding: 10px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.travista-sign-in button:hover {
  background-color: var(--green);
}

.travista-sign-in p {
  margin-top: 20px;
  text-align: center;
}

.travista-sign-in p a {
  color: var(--green);
  text-decoration: none;
}

.travista-sign-in p a:hover {
  text-decoration: underline;
}

.explore-more-card {
  width: 800px;
  height: 1000px;
  background-size: cover;
  background-position: center;
  color: white !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  padding: 30px;
  border-radius: 20px !important;
  transition: all 0.4s !important;
}

.explore-more-card:nth-child(odd) {
  margin-top: 50px;
}

.explore-more-card:hover {
  width: 750px;
  margin: 0 2rem;
}
